.bg-dark-primary {
	background-color: #d32f2f;
}

.bg-primary {
	background-color: #f44336 !important;
}

.about {
	background-color: #f44336 !important;
	color: #fff;
}

.footer {
	background-color: #f44336 !important;
	color: #fff;
}

.profile-image {
	width: 256px;
	border-radius: 50%;
	padding-top: 40px;
}

.copyright {
	background-color: #d32f2f;
}
