.bg-dark-primary {
	background-color: #800000;
}

.bg-primary {
	background-color: #b80c09 !important;
}

section {
	padding: 6rem 0;
}

/************
	TOPBAR
 *************/
.navbar-dark .navbar-nav .nav-link {
	color: #fff !important;
	font-size: 16px;
	font-weight: 600;
}

.navbar-brand {
	font-size: 24px;
	font-weight: 600;
}

.nav-link:hover {
	background-color: #b80c09;
}

/************
	HEADER
 *************/
.header {
	padding: 80px;
}

hr.star-light,
hr.star-dark {
	max-width: 15rem;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 0.25rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
	position: relative;
	top: -0.8em;
	display: inline-block;
	padding: 0 0.25em;
	content: '\f005';
	font-family: FontAwesome;
	font-size: 2em;
}

hr.star-light {
	border-color: #fff;
}

hr.star-light:after {
	color: #fff;
	background-color: #b80c09;
}

hr.star-dark {
	border-color: #b80c09;
}

hr.star-dark:after {
	color: #b80c09;
	background-color: white;
}

/************
	PORTFOLIO
 *************/
.portfolio h1 {
	color: #b80c09 !important;
}

.contact h1 {
	color: #b80c09 !important;
}

.about h1 {
	color: #b80c09 !important;
}

.about hr.star-dark:after {
	color: #b80c09;
	background-color: #efefef;
}

.paper-form form {
	padding: 20px;
}

.shadow {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.about {
	background-color: #efefef !important;
	color: #000;
}

.footer {
	background-color: #b80c09 !important;
	color: #fff;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.profile-image {
	width: 256px;
	border-radius: 50%;
	padding-top: 40px;
}

.copyright {
	background-color: #800000;
}

.card-address {
	padding: 16px;
	color: #b80c09;
}

.card-address p {
	margin-bottom: 0;
}

.card-address span i {
	margin-right: 8px;
}

.card-address span a {
	color: #ada9b7;
	font-weight: bold;
}

.card-address span a:hover {
	color: #b80c09;
}

.project-url-link {
	color: white;
	background-color: #b80c09 !important;
}

.project-url-link:hover {
	color: white;
	background-color: #800000 !important;
}
