.bg-dark-primary {
	background-color: #d32f2f;
}

.bg-primary {
	background-color: #f44336 !important;
}

/************
	TOPBAR
 *************/
.navbar-dark .navbar-nav .nav-link {
	color: #fff !important;
	font-size: 16px;
	font-weight: 600;
}

.navbar-brand {
	font-size: 24px;
	font-weight: 600;
}

.nav-link:hover {
	background-color: #f44336;
}

/************
	HEADER
 *************/
.header {
	padding: 80px;
}

hr.star-light,
hr.star-dark {
	max-width: 15rem;
	padding: 0;
	text-align: center;
	border: none;
	border-top: solid 0.25rem;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
	position: relative;
	top: -0.8em;
	display: inline-block;
	padding: 0 0.25em;
	content: '\f005';
	font-family: FontAwesome;
	font-size: 2em;
}

hr.star-light {
	border-color: #fff;
}

hr.star-light:after {
	color: #fff;
	background-color: #f44336;
}

hr.star-dark {
	border-color: #2c3e50;
}

hr.star-dark:after {
	color: #2c3e50;
	background-color: white;
}

section {
	padding: 6rem 0;
}

.about {
	background-color: #f44336 !important;
	color: #fff;
}

.footer {
	background-color: #f44336 !important;
	color: #fff;
}

.profile-image {
	width: 256px;
	border-radius: 50%;
	padding-top: 40px;
}

.copyright {
	background-color: #d32f2f;
}
